<h1>Here Be a Burger List</h1>

<div>
    <h2>Undevoured Burgers</h2>
    {{json undevoured}}
</div>

<div>
    <h2>Devoured Burgers</h2>
    <h3>NOM NOM</h3>
    {{json devoured}}
</div>

<div class="grid-y medium-grid-frame">
    <div class="cell shrink header medium-cell-block-container">
        <h1>Eat That Burger!</h1>
    </div>
</div>
<div class="cell medium-auto medium-cell-block-container">
    <div class="grid-x grid-padding-x">
        <div class="cell medium-5 medium-cell-block-y">
            <h3>Delicious Burger</h3>
            <ul class="burger delicious">

            </ul>
        </div>

        <div class="cell medium-5 medium-cell-block-y">
            <h3>Devoured Burger</h3>
            <ul class="burger devoured">

            </ul>
        </div>
    </div>
</div>
<div class="cell shrink footer">
    <form>
        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <h2>Add A Burger!</h2>
                <div class="medium-auto cell">
                    <label>Input Label
                        <input type="text" placeholder="Bacon Cheeseburger" id="burgerInput">
                    </label>
                    <button type="submit" class="success button large" id="addBurgerBtn">Make My Burger!</button>
                </div>
            </div>
        </div>
    </form>
</div>
</div>